.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

#dialogue.hidden {
  display: none;
}

#interrupt-container,
#start-container {
  background: gray;
  width: 8.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  &:has(button.hidden) {
    display: none;
  }

  #start-button,
  #interrupt-button {
    width: 7rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 1.4rem;
    margin-top: -3rem;
    border: none;

    &:active {
      margin-bottom: -2rem;
    }

    &:disabled {
      background: darkgray;
      box-shadow: 0 1rem 0 0rem #5f5f5f;
      pointer-events: none;
    }
  }

  #start-button {
    background: blue;
    box-shadow: 0 1rem 0 0rem darkblue;

    &:active {
      box-shadow: 0 0rem 0 0rem darkblue;
    }
  }

  #interrupt-button {
    background: red;
    box-shadow: 0 1rem 0 0rem darkred;

    &:active {
      box-shadow: 0 0 0 0rem darkred;
    }
  }
}

.dialogue-box {
  min-height: 7rem;
}

#speaker-image {
  &.grey-filter {
    filter: grayscale(100%);
  }
}

.checklist {
  background: white;
  border: 2px solid #a8a8a8;
  border-radius: 12px;
  padding: 1rem;
  max-width: 90%;
  width: 20rem;
  margin: 0.5rem auto;

  &.hidden {
    display: none;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0.5rem 0;
      
      &.completed {
        color: #888;
        text-decoration: line-through;
      }
    }
  }
}

