/* Global styling */

@font-face {
  font-family: "branding-font";
  src: url("/font/PlusJakartaSans-VariableFont_wght") format("ttf");
}

:root {
  --main-font: "branding-font", sans-serif;

  --h1-font-size: 2.3rem;
  /* https://utopia.fyi/clamp/calculator */
  --h2-font-size: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
  --h3-font-size: 1.3rem;
  --p-font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  --button-font-size: 1.3rem;

  /* Dynamic background colors */
  --detail-bg-normal: #93d7c0;
  --detail-bg-dark: #2bb687;
  --detail-bg-light: #d0d0d0;
}

body {
  font-family: var(--main-font);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  text-align: center;
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  font-size: var(--p-font-size);
}

.button-wide {
  font-size: var(--p-font-size);
  padding: 1rem 4rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 0 2px 0 black;
  background: white;
}
